<!-- views/birds/edit.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>
        <%= bird.name %>
    </title>
</head>

<body>
    <div class="container">
        <img class="woodpecker" src="/images/woodpecker.png"
            alt="A line drawing of a woodpecker in bright blue and teal. Created by Icongeek26.">
        <h1>edit a bird</h1>
    </div>

    <a class="birds-index-link" href="/">
        <div class="index-link-text">Return Home</div>
    </a>
    <a class="birds-index-link" href="/birds">
        <div class="index-link-text">Browse Birds</div>
    </a>

    <form action="/birds/<%=bird._id%>?_method=PUT" method="POST">
        <fieldset>
            <legend>Enter info:</legend>
            <div>
                <label for="name">Name:</label>
                <p>Enter a bird's common name. Feel free to include the scientific name in the description below.</p>
                <input type="text" name="name" id="name" value="<%= bird.name %>">
            </div>

            <div class="form-container">
                <label for="family">Family:</label>
                <p>Choose from the dropdown below. If choosing "other", please provide additional information in the description below.</p>
                <select id="family" name="family">
                    <!-- ternary operators for each dropdown option so that when the user edits a bird, they will see the corresponding dropdown that had previously been entered for said bird -->
                    <option value="dropdown" <%=bird.family === '' ? 'selected' : '' %>></option>
                    <option value="Waterfowl" <%=bird.family === 'Waterfowl' ? 'selected' : '' %>>Waterfowl</option>
                    <option value="Shorebirds" <%=bird.family === 'Shorebirds' ? 'selected' : '' %>>Shorebirds</option>
                    <option value="Herons" <%=bird.family === 'Herons' ? 'selected' : '' %>>Herons</option>
                    <option value="Birds of Prey" <%=bird.family === 'Birds of Prey' ? 'selected' : '' %>>Birds of Prey</option>
                    <option value="Woodpeckers" <%=bird.family === 'Woodpeckers' ? 'selected' : '' %>>Woodpeckers</option>
                    <option value="Songbirds" <%=bird.family === 'Songbirds' ? 'selected' : '' %>>Songbirds</option>
                    <option value="Other" <%=bird.family === 'Other' ? 'selected' : '' %>>Other</option>
                </select>
            </div>

            <div>
                <label for="description">Description:</label>
                <p>Provide any notable information such as a description, typical habitat, nesting area, conservation status, etc.</p>
                <textarea name="description" id="description" maxLength='500'><%= bird.description %></textarea>
            </div>

            <button type="submit" id="button" style="vertical-align:middle">Submit</button>
        </fieldset>
    </form>
</body>

<footer>
    Icons by <a href="https://www.flaticon.com/free-icons/heron">Icongeek26</a>
</footer>

</html>