<!-- views/birds/show.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>
        <%= bird.name %>
    </title>
</head>

<body>
    <div class="container">
        <img class="feathers" src="/images/feathers.png"
            alt="A line drawing of two feathers in bright blue and teal. Created by Icongeek26.">
        <h1>
            <%= bird.name.toLowerCase() %>
        </h1>
    </div>

    <a class="birds-index-link" href="/">
        <div class="index-link-text">Return Home</div>
    </a>

    <a class="birds-index-link" href="/birds">
        <div class="index-link-text">Browse Birds</div>
    </a>

    <div id="info-container">
        <h4>Family: <%= bird.family %>
        </h4>
        <p>
            <%= bird.description %>
        </p>
    </div>

    <div id="button-container">
        <a class="birds-index-link" href="/birds/<%= bird._id %>/edit">
            <div class="index-link-text" id="edit">Edit</div>
        </a>

        <form class="birds-index-link" action="/birds/<%= bird._id %>?_method=DELETE" method="POST">
            <button class="index-link-text" id="delete" type="submit">Delete</button>
        </form>
    </div>
</body>

<footer>
    Icons by <a href="https://www.flaticon.com/free-icons/heron">Icongeek26</a>
</footer>

</html>